<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901157018784-9me8nsp0pu0072mblbc2fn53782000v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901157018784-9me8nsp0pu0072mblbc2fn53782000v9</string>
	<key>API_KEY</key>
	<string>AIzaSyCO09SgirQ1G0g8YW4gL7BHmgJB2kHSoM0</string>
	<key>GCM_SENDER_ID</key>
	<string>901157018784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halalwide.vendor</string>
	<key>PROJECT_ID</key>
	<string>halalwide</string>
	<key>STORAGE_BUCKET</key>
	<string>halalwide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901157018784:ios:f79529454ae74595f2fdc5</string>
</dict>
</plist>